<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="public/css/index.css">
    <link rel="stylesheet" href="public/css/reset.css">
</head>
<body>
    
    <main>
        <section>
            <header>
                <div class="main-bg"> 
                    <div class="black-bg">
                        <nav id="menu">
                    <a href="index.html"><img src="public/img/small-logo.svg" alt="Logo"></a>
                            <ul>
                                <li><a href="heritage.html">Une Tour De Prestige</a></li>
                                <li><a href="ungoutnouveau.html">Un Goût Nouveau</a></li>
                                <li><a href="carte.html">Carte & Menu</a></li>
                                <li><a href="reservation.html">Réservation</a></li>
                                <li><a href="https://www.comptoirdelatour.com/fr" target="_blank">E-boutique</a></li>
                                <li><a href="#">Un Tour D'univers</a></li>
                            </ul>
                        </nav>
                        <div class="centered-logo"></div>
                </div>
            </header>
        </section>
    </main>
</body>
</html>