img[src="public/img/small-logo.svg"]{
    width: 16%;
    float: left;
    margin-top: 10px;
    margin-left: 54px;
}
body{
	font-family: 'Playfair Display', 'Great Vibes', sans-serif;
}
.sofiane{
	width: 100%;
	height: 667px;
	background-image: url(../img/le-restaurant-la-tour-d-argent.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position:  top left;
	position: relative;
}
.sofiane h1{
	color: #fff;
	text-align: center;
	font-size: 94px;
	text-transform: uppercase;
	position: absolute;
	-webkit-transform: translateX(50%);
	transform: translateX(50%);
	top: 36%;
	
}
#menu ul {
    padding: 0;
    list-style-type: none;
    text-align: center;
    width: 69%;
    margin: auto;;
}
#menu li {
    float:left;
    margin:auto;
    padding:0;
}
#menu li a {
    font-size: 11px;
    display: block;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    border-right: 1px solid #fff;
    margin-top: 10px;
    -webkit-transition: color .5s ease-in;
    transition: color .5s ease-in;
}
#menu li a:hover {
    color:#8f774e;
}
#menu ul li ul {
    display:none;
}
#menu ul li:hover ul {
    display:block;
}
#menu li:hover ul li {
    float:none;
}
#menu li ul {
    position:absolute;
}
#menu li a{
	color: #000 !important;
	-webkit-transition: color .3s ease-in !important;
	transition: color .3s ease-in !important;
}
#menu li:hover a{
	color: #C8AE87 !important;
}
::-webkit-input-placeholder{color: #777;}
:-moz-placeholder { /* Firefox 18- */ color: #777;}
::-moz-placeholder {  /* Firefox 19+ */ color: #777;}
:-ms-input-placeholder {color: #777;}
.section-header{
	overflow: hidden;
}
section h2{
	text-align: center;
	text-transform: capitalize;
	margin: 50px;
	font-size: 30px;
	font-family: 'Great vibes', cursive;
	color: #c8ae87;;;
}
#contact{
	width: 70%;
	margin: 0 auto;
	font-family: 'PlayFair Display', sans-serif;

}
select,
#contact input[type="text"],
#contact input[type="email"],
#contact input[type="date"], 
#contact input[type="time"],
#contact input[type="tel"],
#contact textarea{
	display: block;
	margin: 10px auto;
	width: 30%;
	font-size: 18px;
	color: #777;
	border: 1px solid #ccc;
	padding: 10px;
}

#contact input[type="email"]{
	width: 63%;

}
select{;
	background: none;;
}
#contact textarea{
	font-size: 16px;
}

#contact input:hover, #contact textarea:hover{
	border: 1px solid #888;
}
#contact input:focus, #contact textarea:focus{
	border: 1px solid #777;
}

#contact textarea{
	resize: none;
	min-height: 180px;
	max-width: 100%;
	min-width: 97%;
}

#contact .send-button{
	text-align: center;
}

#contact .send-button button[type="submit"]{
	color: #fff;
	background: #C8ae87;
	border: none;
	width: 15%;
	padding: 10px 0;
	font-size: 20px;
	text-transform: uppercase;
	-webkit-transition: .5s all ease;
	transition: .5s all ease;
	cursor: pointer;
}

#contact .send-button button[type="submit"]:hover{
	width: 30%;
}

#contact .send-button button[type="submit"]:focus{
	position: relative;
	top: 2px;
}
.left{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
/*######################################\*
              Responsive
\*######################################*/

/*@media screen and (min-width: 640px){
	.container{
		width: 600px;
	}
  
  #contact textarea{
    max-width: 98%;
    min-width: 98%;
    min-height: 152px;
    margin-right: 0;
  }

	#contact .right,#contact .left{
		display: block;
	}

	#contact .right{
		float: right;
		width: 50%;
	}
  
	#contact .left{
		float: left;
		width: 50%;
	}
	.cl{
    clear: both;
  }
}*/
